.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}


.text_area{
  width: 100%;
  max-width: 40rem;
  height: auto;
  outline: none;
  padding: 1rem;
  background-color: white;
  color: black;
  text-align: center;
}